  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <meta http-equiv="Content-Language" content="zh-CN" />  
<script type="text/javascript"  src="http://localhost:8081/static/public/js/jquery-1.11.1.js"></script>
<script type="text/javascript"  src="http://localhost:8081/static/public/js/jquery.validate.js"></script>
<script type="text/javascript"  src="http://localhost:8081/static/public/js/jquery-ui.js"></script>
<script type="text/javascript"  src="http://localhost:8081/static/public/js/common.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="http://localhost:8081/static/public/css/layout.css" />
<link rel="stylesheet" type="text/css" media="screen" href="http://localhost:8081/static/public/css/jquery-ui.min.css" />