  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <meta http-equiv="Content-Language" content="zh-CN" />  
<script type="text/javascript"  src="http://localhost:8081/static/public/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"  src="http://localhost:8081/static/public/js/jquery.validate.js"></script>
<script type="text/javascript"  src="http://localhost:8081/static/public/js/jquery-ui.js"></script>
<script type="text/javascript"  src="http://localhost:8081/static/public/js/common.js"></script>


<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Frontline</title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="http://localhost:8081/static/public/css/style.css" />
	<link rel="shortcut icon" href="http://localhost:8081/static/public/images/favicon.ico" />
	<link rel="apple-touch-icon" href="http://localhost:8081/static/public/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="http://localhost:8081/static/public/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="http://localhost:8081/static/public/images/apple-touch-icon-114x114.png" />
	
	<!-- JS
	================================================== -->
	<script src="http://localhost:8081/static/public/js/superfish.js"></script>
	<script src="http://localhost:8081/static/public/js/jquery.flexslider.js"></script>
	<script src="http://localhost:8081/static/public/js/jquery.tweet.js"></script>
	<script src="http://localhost:8081/static/public/js/selectnav.js"></script>
	<script src="http://localhost:8081/static/public/js/jquery.fancybox.js"></script>
	<script src="http://localhost:8081/static/public/js/functions.js"></script>