<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 以下配置将拦截所有的URL请求 -->
	
	<mvc:interceptors>
		<bean class="com.ivey.web.base.interceptor.WebBaseInterceptor"></bean>
			<bean class="com.ivey.web.base.interceptor.LoginInterceptor"></bean>
		<!-- <mvc:interceptor>
			<mvc:mapping path="*"/>
		
		</mvc:interceptor> -->
	</mvc:interceptors>
</beans>